{% for entries in chats %}
    <div class="well well-sm" style="border:20px; margin:2px; padding:5px; background:#F5FFFA">
		{% if entries.question == "true" %}
			<div class="pull-left"><span class="label label-danger">Question</span></div>
		{% else %}
		{% endif %}
		<div class="pull-right" style="display:inline; color:#C1CDCD; font-size:0.8em">
			{{ entries.date.strftime('%a, %d %b %y, %H:%M') }}
		</div>
		</br>
		<b style="color:#63B8FF">{{ entries.author }}</b>:
		{{ entries.content|escape }}
    </div> 
{% endfor %}