<!DOCTYPE html>
<html>
    <head>
		<title> Interactive Lecture Enviro </title>
		 <!-- Latest compiled and minified Bootstrap CSS -->
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
		<!-- theme -->
		<link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
		<!-- jquery, put before bootstrap.min.js for minimized window's navbar menu to work-->
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- Latest compiled and minified Bootstrap JavaScript -->
		<script src="../bootstrap/js/bootstrap.min.js"></script>
		<!-- for chat -->
		<script src="../scripts/util.js"></script>

		<script>
			function updateChat() {
				downloadUrl("/getchats", "GET", null, onChatsReturned);
			}
			
			function sendChat(form) {
				if(document.getElementById("chatAuthor").value == ""){
					document.getElementById("chatAuthor").value="Name" + (Math.floor(Math.random()*10000));
				}
				<!-- the ; combining the 2 cannot have space after it-->
				downloadUrl("/getchats", "POST", "content=" + encodeURI(document.getElementById("chatText").value) + ";" + "author=" + encodeURI(document.getElementById("chatAuthor").value), onChatsReturned);
				document.getElementById("chatText").value = "";
			}

			function onChatsReturned(responseText) {
				document.getElementById("chats").innerHTML = responseText;
				scrollToBottom();
			}

			function setup() {
				window.setInterval("updateChat()", 3000)
				updateChat();
			}
			
			function scrollToBottom() {
				var chatDiv = document.getElementById("chats");
				chatDiv.scrollTop = chatDiv.scrollHeight;
			}
		</script>
		
    </head>
	<body onload="setup()">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Interactive Lecture Enviro</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="/about">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<p class="navbar-text navbar-right">Testing<a href="#" class="navbar-link">Test</a></p>
						<li><button type="button" class="btn btn-default navbar-btn">A BUTTON</button></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		

		<div class="well col-xs-8 pull-left">
			<h2>This is test</h2>
			</br>
			</br>
			</br>To
			</br>
			</br>
			</br>xv
			</br>simulate
			</br>dfgdg
			</br>
			</br>a
			</br>xgfb
			</br>
			</br>
			</br>long
			</br>dg
			</br>page
			</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
			test!!
		</div>
	
		<!-- shoutbox -->
		<div class="well col-xs-4 pull-right" style="height:768px">
			<h4><strong>Lecture ShoutBox</strong></h4>
			<div id="chats" style="padding:5px; border: 1px solid grey; background-color:#F5FFFA; height:84%; width:100%; word-wrap:break-word; overflow-y:scroll">
			</div>
			<br/>
			<div>
				<form action="javascript:sendChat()">
					<div>	
						<input name="name" type="text" id="chatAuthor" style="width:75%" placeholder="Name"></input>
						<input name="content" type="text" id="chatText" style="width:75%" placeholder="Message"></input>
						<input type="submit" value="Go">
					</div>
				</form>
			</div>
		</div>	<!--end shoutbox-->
		
	</body>
</html>