
<div class="table-responsive" style="max-height:675px">
	<table class="table table-bordered table-hover" style="table-layout:fixed; word-wrap:break-word;">
		<thead>
			<tr><h3><strong>Module Code <span style="color:#5CBDFF">{{ modCode }}</span></strong></h3></tr>
			<tr>
				<th>File Description</th>
				<th>File URL</th>
				<th>Date Uploaded</th>
			</tr>
		</thead>
		<tbody>
			{% for results in files %}
				<tr align="left">
					<td>{{ results.description }}</td>
					<td>
						{{ results.fileUrl }}
						</br>
						<button type="submit" data-url="{{ results.fileUrl }}" class="view btn btn-info btn-sm" style="background:#5CBDFF">View</button>
					</td>
					<td>{{ results.date.strftime('%a  %d %b %Y  %H:%M') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div> 