<html>
    <head>
		<title> Interactive Lecture Environment </title>
		<!-- Latest compiled and minified Bootstrap CSS -->
		<link rel="stylesheet" href="../stylesheets/custom.css">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
		<!-- theme -->
		<link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
		<!-- jquery, put before bootstrap.min.js for minimized window's navbar menu to work-->
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- Latest compiled and minified Bootstrap JavaScript -->
		<script src="../bootstrap/js/bootstrap.min.js"></script>
    </head>
	<body>
		<nav class="navbar navbar-custom">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Interactive Lecture Environment</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/upload">Upload <span class="sr-only">(current)</span></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<p class="navbar-text navbar-right">Testing<a href="#" class="navbar-link">Test</a></p>
						<li><button type="button" class="btn btn-default navbar-btn">A BUTTON</button></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


		<div class="well col-xs-12 pull-left" style="background:#F8FFF8;">
			<form class="form-horizontal" action="/upload" method="post">
				<div class="form-group">
					<h3 class="col-xs-offset-4"><strong>Upload File URL to Server : </strong></h3>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" for="modCode">Module Code:</label>
					<input class="form-control" type="text" name="modCode" placeholder="PC1222, CS1010, etc" style="width:40%;" autofocus=True required=True>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" for="fileUrl">File URL:</label>
					<input class="form-control" type="text" name="fileUrl" placeholder="http://samplepdf.com/sample.pdf" style="width:40%;" required=True>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" for="desc">File Description:</label>
					<input class="form-control" type="text" name="desc" placeholder="PC1222 Lecture X Slides" style="width:40%;" required=True>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-4">
						<button type="submit" class="btn btn-info btn-sm" style="background:#5CBDFF">Submit</button>
					</div>
				</div>
				<div>
				<!-- Error message -->
				{% if error != "" %}
					<div style="color:red; text-align:center;"> {{ error }} </div>
				{% elif success != "" %}
					<div style="color:green; text-align:center;"> {{ success }} </div>
				{% endif %}
				</div>
			</form>
		</div>

	</body>
</html>
